/*
==============================================================================================
MASTER PUSH MENU
==============================================================================================
*/

/* General */

#site-container, 
nav.push-menu {
	-webkit-transition: all 320ms ease-in-out 50ms;
	-moz-transition: all 320ms ease-in-out 50ms;
	-ms-transition:  all 320ms ease-in-out 50ms;
	-o-transition: all 320ms ease-in-out 50ms;
	transition: all 320ms ease-in-out 50ms;
	-webkit-backface-visibility: hidden;
}

nav.push-menu {
	display: block;
	width: 220px;
	height: 100%;
	position: fixed;
	top: 0px;
	background: #000;
	color: #fff;
	padding: 12px;
}

/* Push Right */

#push-menu-right {
	right: 0px;
	text-align: right;
	border-left: 10px grey solid;
	-webkit-transform: translate3d(220px,0,0); /* x,y,z */
	-moz-transform: translate3d(220px,0,0); /* x,y,z */
	-ms-transform: translate3d(220px,0,0); /* x,y,z */
	-o-transform: translate3d(220px,0,0); /* x,y,z */
	transform: translate3d(220px,0,0); /* x,y,z */
}

#site-container.pushed-left {
	-webkit-transform: translate3d(-220px,0,0); /* x,y,z */
	-moz-transform: translate3d(-220px,0,0); /* x,y,z */
	-ms-transform: translate3d(-220px,0,0); /* x,y,z */
	-o-transform: translate3d(-220px,0,0); /* x,y,z */
	transform: translate3d(-220px,0,0); /* x,y,z */
}

#push-menu-right.pushed-left {
	-webkit-transform: translate3d(0,0,0); /* x,y,z */
	-moz-transform: translate3d(0,0,0); /* x,y,z */
	-ms-transform: translate3d(0,0,0); /* x,y,z */
	-o-transform: translate3d(0,0,0); /* x,y,z */
	transform: translate3d(0,0,0); /* x,y,z */
}

/* Push Left */

#push-menu-left {
	left: 0px;
	text-align: left;
	border-right: 10px grey solid;
	-webkit-transform: translate3d(-220px,0,0); /* x,y,z */
	-moz-transform: translate3d(-220px,0,0); /* x,y,z */
	-ms-transform: translate3d(-220px,0,0); /* x,y,z */
	-o-transform: translate3d(-220px,0,0); /* x,y,z */
	transform: translate3d(-220px,0,0); /* x,y,z */
}

#site-container.pushed-right {
	-webkit-transform: translate3d(220px,0,0); /* x,y,z */
	-moz-transform: translate3d(220px,0,0); /* x,y,z */
	-ms-transform: translate3d(220px,0,0); /* x,y,z */
	-o-transform: translate3d(220px,0,0); /* x,y,z */
	transform: translate3d(220px,0,0); /* x,y,z */
}

#push-menu-left.pushed-right {
	-webkit-transform: translate3d(0px,0,0); /* x,y,z */
	-moz-transform: translate3d(0px,0,0); /* x,y,z */
	-ms-transform: translate3d(0px,0,0); /* x,y,z */
	-o-transform: translate3d(0px,0,0); /* x,y,z */
	transform: translate3d(0px,0,0); /* x,y,z */
}

@media only screen and ( min-width: 500px ) {
	
	/* General */
	
	nav.push-menu {
		width: 240px;
		padding: 14px;
	}
	
	/* Push Right */
	
	#push-menu-right {
		-webkit-transform: translate3d(240px,0,0); /* x,y,z */
		-moz-transform: translate3d(240px,0,0); /* x,y,z */
		-ms-transform: translate3d(240px,0,0); /* x,y,z */
		-o-transform: translate3d(240px,0,0); /* x,y,z */
		transform: translate3d(240px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-left {
		-webkit-transform: translate3d(-240px,0,0); /* x,y,z */
		-moz-transform: translate3d(-240px,0,0); /* x,y,z */
		-ms-transform: translate3d(-240px,0,0); /* x,y,z */
		-o-transform: translate3d(-240px,0,0); /* x,y,z */
		transform: translate3d(-240px,0,0); /* x,y,z */
	}
	
	/* Push Left */

	#push-menu-left {
		-webkit-transform: translate3d(-240px,0,0); /* x,y,z */
		-moz-transform: translate3d(-240px,0,0); /* x,y,z */
		-ms-transform: translate3d(-240px,0,0); /* x,y,z */
		-o-transform: translate3d(-240px,0,0); /* x,y,z */
		transform: translate3d(-240px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-right {
		-webkit-transform: translate3d(240px,0,0); /* x,y,z */
		-moz-transform: translate3d(240px,0,0); /* x,y,z */
		-ms-transform: translate3d(240px,0,0); /* x,y,z */
		-o-transform: translate3d(240px,0,0); /* x,y,z */
		transform: translate3d(240px,0,0); /* x,y,z */
	}

} /* min 500px */

@media only screen and ( min-width: 768px ) {
	
	/* General */

	nav.push-menu {
		width: 280px;
		padding: 15px;
	}
	
	/* Push Right */
	
	#push-menu-right {
		-webkit-transform: translate3d(280px,0,0); /* x,y,z */
		-moz-transform: translate3d(280px,0,0); /* x,y,z */
		-ms-transform: translate3d(280px,0,0); /* x,y,z */
		-o-transform: translate3d(280px,0,0); /* x,y,z */
		transform: translate3d(280px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-left {
		-webkit-transform: translate3d(-280px,0,0); /* x,y,z */
		-moz-transform: translate3d(-280px,0,0); /* x,y,z */
		-ms-transform: translate3d(-280px,0,0); /* x,y,z */
		-o-transform: translate3d(-280px,0,0); /* x,y,z */
		transform: translate3d(-280px,0,0); /* x,y,z */
	}
	
	/* Push Left */

	#push-menu-left {
		-webkit-transform: translate3d(-280px,0,0); /* x,y,z */
		-moz-transform: translate3d(-280px,0,0); /* x,y,z */
		-ms-transform: translate3d(-280px,0,0); /* x,y,z */
		-o-transform: translate3d(-280px,0,0); /* x,y,z */
		transform: translate3d(-280px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-right {
		-webkit-transform: translate3d(280px,0,0); /* x,y,z */
		-moz-transform: translate3d(280px,0,0); /* x,y,z */
		-ms-transform: translate3d(280px,0,0); /* x,y,z */
		-o-transform: translate3d(280px,0,0); /* x,y,z */
		transform: translate3d(280px,0,0); /* x,y,z */
	}
	
} /* min 768px */

@media only screen and ( min-width: 992px ) {
	
	/* General */
	
	nav.push-menu {
		width: 300px;
		padding: 18px;
	}
	
	/* Push Right */
	
	#push-menu-right {
		-webkit-transform: translate3d(300px,0,0); /* x,y,z */
		-moz-transform: translate3d(300px,0,0); /* x,y,z */
		-ms-transform: translate3d(300px,0,0); /* x,y,z */
		-o-transform: translate3d(300px,0,0); /* x,y,z */
		transform: translate3d(300px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-left {
		-webkit-transform: translate3d(-300px,0,0); /* x,y,z */
		-moz-transform: translate3d(-300px,0,0); /* x,y,z */
		-ms-transform: translate3d(-300px,0,0); /* x,y,z */
		-o-transform: translate3d(-300px,0,0); /* x,y,z */
		transform: translate3d(-300px,0,0); /* x,y,z */
	}
	
	/* Push Left */

	#push-menu-left {
		-webkit-transform: translate3d(-300px,0,0); /* x,y,z */
		-moz-transform: translate3d(-300px,0,0); /* x,y,z */
		-ms-transform: translate3d(-300px,0,0); /* x,y,z */
		-o-transform: translate3d(-300px,0,0); /* x,y,z */
		transform: translate3d(-300px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-right {
		-webkit-transform: translate3d(300px,0,0); /* x,y,z */
		-moz-transform: translate3d(300px,0,0); /* x,y,z */
		-ms-transform: translate3d(300px,0,0); /* x,y,z */
		-o-transform: translate3d(300px,0,0); /* x,y,z */
		transform: translate3d(300px,0,0); /* x,y,z */
	}

} /* min 992px */

@media only screen and ( min-width: 1200px ) {
	
	/* General */
	
	nav.push-menu {
		width: 320px;
		padding: 20px;
	}

	/* Push Right */
	
	#push-menu-right {
		-webkit-transform: translate3d(320px,0,0); /* x,y,z */
		-moz-transform: translate3d(320px,0,0); /* x,y,z */
		-ms-transform: translate3d(320px,0,0); /* x,y,z */
		-o-transform: translate3d(320px,0,0); /* x,y,z */
		transform: translate3d(320px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-left {
		-webkit-transform: translate3d(-320px,0,0); /* x,y,z */
		-moz-transform: translate3d(-320px,0,0); /* x,y,z */
		-ms-transform: translate3d(-320px,0,0); /* x,y,z */
		-o-transform: translate3d(-320px,0,0); /* x,y,z */
		transform: translate3d(-320px,0,0); /* x,y,z */
	}
	
	/* Push Left */

	#push-menu-left {
		-webkit-transform: translate3d(-320px,0,0); /* x,y,z */
		-moz-transform: translate3d(-320px,0,0); /* x,y,z */
		-ms-transform: translate3d(-320px,0,0); /* x,y,z */
		-o-transform: translate3d(-320px,0,0); /* x,y,z */
		transform: translate3d(-320px,0,0); /* x,y,z */
	}
	
	#site-container.pushed-right {
		-webkit-transform: translate3d(320px,0,0); /* x,y,z */
		-moz-transform: translate3d(320px,0,0); /* x,y,z */
		-ms-transform: translate3d(320px,0,0); /* x,y,z */
		-o-transform: translate3d(320px,0,0); /* x,y,z */
		transform: translate3d(320px,0,0); /* x,y,z */
	}

} /* min 1200px */